@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    margin: 0%;
    padding: 0%;
}


h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;

}

h1 {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    color: coral;
}




h3 {
    color: coral;
    text-align: center;
    justify-content: center;
    margin: 30px;

}



.bg-violet {
    background-color: rgba(238, 188, 247, 1.0);
}


#botonera img {
    width: 10rem;
}

/******Carousel*******/




/******PRODUCTOS*********/
.row p {
    background-color: rgb(255, 217, 217);
    color: rgba(0, 0, 0, 0.62);
    font-size: 2rem;
    line-height: 2.5rem;
}






/******* PROMOCIONES UNO **********/

.padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;


}

.articulo h1 {
    text-align: center;
    width: 100%;

}

.articulo {
    width: 30rem;
    height: auto;
    margin: 3px;
    padding: 3px;
    align-items: center;
    text-align: center;
}

.padre .articulo img {
    text-align: center;
    height: 80%;
    width: 90%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 30px;
    background-color: rgb(12, 11, 12);
}

.parrafos-promociones1 {
    color: rgb(60, 46, 212);
    background-color: lightcoral;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    justify-content: center;
    width: 90%;
    height: auto;

}

.h3-nombres {
    width: 100%;
}


/****** PROMOCIONES 2 **********/

.containers-section {
    margin-top: 10rem;
}


.section-promociones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    grid-gap: 10px;
}


.section-promociones img {
    width: 80%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px;

}



.card-promociones p {
    background-color: rgba(207, 42, 86, 0.344);
    font-size: 1rem;
    justify-content: center;
    height: auto;
    width: 90%;
}

.card-promociones h3 {
    color: darkblue;
    width: 70%;
    height: auto;
}


/******* BOTONERA*********/
.botonera {
    text-decoration: none;
    display: block;
    border: 1px;
    width: 16.8rem;
    height: auto;
    border: 1px;
    text-align: center;
    padding-top: 15px;
    background-color: #9d2882;
    color: #fff;
    transition: 2s;
    font-family: Arial, Helvetica, sans-serif;
}

.botonera a:hover {
    background-color: #f92672;
    transform: rotate(360);

}

.h1-comercio {
    color: #f92672;
}

.nuestro-comercio {
    background-color: navajowhite;
    color: #f92672;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    width: auto;
    height: auto;
    margin: 20px;

}



/******** ARRANCA NUESTRO COMERCIO*******/



/******PIE FOOTER******/
#pie {
    margin-top: 50px;
    background-color: blueviolet;
    width: 300;
    height: 200px;
    align-items: center;
    text-align: center;
}

.img-footer {
    width: 50px;
    height: 50px;
}



/******** video ******/
.video {
    height: 800px;

}


@media (max-width: 700px) {
    .section-promociones {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
        grid-gap: 5px;
    }
}

@media (max-width: 600px) {
    .section-promociones {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        grid-gap: 5px;
    }

    .section-promociones img {
        width: 80%;
        height: 50%;
        object-fit: cover;
        border-radius: 20px;

    }

    .card-promociones p {
        background-color: rgba(207, 42, 86, 0.344);
        font-size: 1rem;
        justify-content: center;
        height: auto;
        width: 90%;
    }

    .card-promociones h3 {
        color: darkblue;
        width: 70%;
        height: auto;
    }

    .card-promociones {
        margin: 1em auto;

    }

    .botonera {
        width: 100%;
    }
}